In [ ]:
# 5자리로 구성된 학번'31025'를 학년, 반, 번호로 나누어 출력
grade = 3 # 학번
classs = 10 # 반
number = 25 # 번호

In [ ]:
print(f'{grade}학년 {classs}반 {number}번')

3학년 10반 25번

In [ ]:
# 전체 차량 번호에서 뒤에 숫자 4자리만 출력(예, 서울4가1234)
car_number1 = "서울2가1234"
car_number2 = "10가1234"
car_number3 = "288가1234"

# 결과 출력
# [-1]이 마지막 숫자이므로 -4부터 슬라이싱 마지막 4자리 숫자
print(f"{car_number1}의 차량번호 4자리는 {car_number1[-4:]}입니다.")
print(f"{car_number2}의 차량번호 4자리는 {car_number2[-4:]}입니다.")
print(f"{car_number3}의 차량번호 4자리는 {car_number3[-4:]}입니다.")

서울2가1234의 차량번호 4자리는 1234입니다.
10가1234의 차량번호 4자리는 1234입니다.
288가1234의 차량번호 4자리는 1234입니다.

In [ ]:
# 반복문을 이용해서 간단하게 구현
carnum = ['서울4가1234', '10가1234', '288가1234']

for carnum in carnum:
  lastnum = carnum[-4:]
  print(f'{carnum}의 차량번호 4자리는 {lastnum}입니다.')

서울4가1234의 차량번호 4자리는 1234입니다.
10가1234의 차량번호 4자리는 1234입니다.
288가1234의 차량번호 4자리는 1234입니다.

In [ ]:
# 문자열 s에 'maple'이 저장되어 있다. 문자열 s의 가운데 글자를 출력
# 홀수글자만 해당
s = 'maple'
S = len(s) // 2
print(f'{s}의 가운데 글자는 {s[S]}입니다') # s : maple, S : 2, s[S] : maple[2]

maple의 가운데 글자는 p입니다

In [ ]:
# 리스트[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]의 3번째 요소부터 7번째 요소만 추출한 결과 리스트에서 2번째 요소를 출력
li = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
LI = li[2:6] # 3번째에서 7번째 요소까지 슬라이싱

print(f'3번째 요소부터 7번째 요소 = {LI}')
print(f'3번째 요소부터 7번째 요소 중 2번째 요소 = {LI[1]}')

3번째 요소부터 7번째 요소 = [30, 40, 50, 60]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [ ]:
# 어떤 중국음식점의 이번 주말 할인 메뉴는 금요일은 탕수육, 토요일은 유산슬, 일요일은 팔보채다
# 요일별 할인 메뉴를 딕셔너리 구조로 저장하고 다음과 같이 출력
dic = {'금요일': '탕수육', '토요일': '유산슬', '일요일': '팔보채'}
# 딕셔너리는 인덱스안에 키를 넣으면 밸류가 나오고 밸류를 넣으면 키가 나온다.
print(f"금요일: {dic['금요일']}")
print(f"토요일: {dic['토요일']}")
print(f"일요일: {dic['일요일']}")

금요일: 탕수육
토요일: 유산슬
일요일: 팔보채